In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 5000)
pd.set_option('display.width', 5000)

In [51]:
filename = "HCUP_2003_to_2011_Patient_to_Visits.csv"
filename = "hcup_data\HCUP_2003_to_2011_Patient_visits.csv"

In [52]:
df = pd.read_csv(filename, header = None, nrows=1000)

In [53]:
df

           0  1  2      3   4     5                                                  6
0    2121810 -9  0  15533 -99  2009                                     D_55220 P_5359
1    2121810 -9  0  16402  32  2011                                    D_68101 D_30593
2    7052321  4  0  15676  57  2006                      D_40291 D_4240 D_25000 D_4168
3    7052321  4  0  16460  59  2008  D_85245 D_25000 D_2761 D_7821 D_2760 D_4019 D_...
4    7052321  4  0  16552  57  2009  D_0389 D_78003 D_4019 D_V440 D_99591 D_9070 D_...
..       ... .. ..    ...  ..   ...                                                ...
995  7017927 -9 -9  14457  67  2010  D_41401 D_4280 D_27801 D_V5866 D_V5861 D_2724 ...
996  2118636  1  1  13775  75  2009            D_49322 D_73300 D_78701 D_V1582 D_V4577
997  2118636  1  1  14175  77  2010              D_49121 D_73300 D_4019 D_V462 D_78702
998  2118636  1  1  14313  77  2010  D_82009 D_2762 D_4169 D_V462 D_V5865 D_V1582 D...
999  2118636  1  1  14316  77  2010  D_V5789 D_V4364 D_4169 D_V462 D_V5865 D_73300 ...

[1000 rows x 7 columns]

In [54]:
# checking that all patients are there after the parsing process
chunksize = 100000
ids = []
for chunk in pd.read_csv(filename, chunksize=chunksize, header=None):
    ids.append(chunk[chunk.columns[0]])

In [56]:
print("number of chunks :", str(len(ids)))

277

In [61]:
ids_list = np.concatenate(ids)#.ravel()

In [65]:
print("number of visits :", str(len(ids_list)))
print("number of patienbts :", str(len(np.unique(ids_list))))

number of visits : 27643641
number of patienbts : 11609449